@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/assets/magic-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;
    color: white;
}